@model Ogrenci
@{
    ViewData["Title"] = "Ögrenci Güncellme";
}

<h2>Öğrenci Güncellme</h2>
<hr>
<form asp-controller="Ogrenci" asp-action="Edit" method="post">
    <input type="hidden" asp-for="OgrenciId"/> <!--Edit action metotuna tekrar bu formu post ettiğimizde buradaki bilgiler ilgili action methoduna gidecek  ve bunun yanında da öğrenci id eklensin deriz neden çünkü hangi öğrencinin güncellendiğini bilmek için-->
    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
        <input asp-for="OgrenciAd" class="form-control"/>
    </div>
      <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label">Öğrenci Soyad</label>
        <input asp-for="OgrenciSoyad" class="form-control"/>
    </div>
      <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Eposta</label>
        <input asp-for="Eposta" class="form-control"/>
    </div>
      <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Telefon</label>
        <input asp-for="Telefon" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>